.sellix-iframe-loader {
  animation-name:spin;
  animation-duration:2s;
  animation-iteration-count:5;
  animation-timing-function:ease-in-out;
  animation-delay:0s;
  width:35px!important;
  height:35px!important
  --purple6: #a98d00;
}

@keyframes spin {
  0%{transform:rotate(0deg)}
  50%{transform:rotate(360deg)}
  100%{transform:rotate(360deg)}
}

html {
    --purple6: #a98d00;
    --menuBackgroundRGBA: 249, 249, 250;
    --menuBoxShadow: #0000;
    --colorSwitcher: #222B3F;
    --borderColor: #222b3f;
    --buttonColor: #a98d00;
    --darkColorTransparent: #2a2a2a;
    --darkColor: #0A1730;
    --darkFontColor: #b4aebc;
    --lightColor: #192843;
    --lightColor50: #19284350;
    --lightFontColor: #ffffff;
    --sidebarFontColor: #C9C9CB;
    --sidebarBorder: #222B3F;
    --thinColor: #989ba0;
    --invoiceButton: #ffffff;
    --inputBorder: #222B3F;
    --inputBorderHover: #3F4A60;
    --inputBorderFocus: #a98d00;
    --checkbox-border: #3F4A60;
    --htmlBack: var(--darkColor);
    --purpleColor: #a98d00;
    --gridLine: #313131;
    --textWhite: white;
    --selectArrow: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
    --menuBackgroundHover: rgba(var(--menuBackgroundRGBA), 10%);
    background-color: var(--darkColor) !important;
}

.darkTheme {
  --purple6: #a98d00;
}
